extends layout

block content
  h1= title
  div.entries
    
  div
    h4 Welcome to your very own portfolio builder, this application allows you to build, edit and publish your portfolio
    br
    a(href='/loginAccount' id='login')
      button Click to login