extends layout

block content
  h1= title
  br
  br
  div.entries
  div
    p Welcome to your very own portfolio builder, this application allows you to build, edit and publish your portfolio
    br
    a(href='/loginAccount' id='login')
      button Click to login