extends layout

block content
    h1 #{username}  Portfolio
    div.container
        -var values = project;
        ol
            each val in values ? values : ['There are no values']
                li
                    strong
                        p Project Title: 
                    p #{val.title}
                    strong
                        p Project Description:
                    p #{val.desc}
                    p #{val.tags}
                br
