body {
  padding:0px;
  margin:0px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color:#ABA4BF;
}

a {
  text-decoration: none;
}

nav, nav-bar, nav-default{
  background-color:  #F2F1E8;
}

.extraPadding{
  margin: 5%;
}

.smallInputs{
  width:40%;
}

.container{
  width:60%;
  margin-left: 40%;
}

form{
  padding-left: 1%;
}

.jumbtron{
  padding:3%;
}

@media screen and (min-width: 700px) {

}

@media screen and (min-width: 768px) {

}

@media screen and (min-width: 1000px) {

}
