body {
  padding:0px;
  margin:0px;
  padding-left:5%;
  padding-right:5%;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  text-decoration: none;
}

.extraPadding{
  margin: 5%;
}

.smallInputs{
  width:40%;
}

.container{
  margin-left: 20%;
}

form{
  padding-left: 1%;
}

.jumbtron{
  padding:3%;
}

@media screen and (min-width: 700px) {
  body{
    padding-left:5%;
    padding-right:5%;
  }
}

@media screen and (min-width: 768px) {
  body{
    padding-left:5%;
    padding-right:5%;
  }
  /*
  .container{
    padding-left: 10%;
  }*/
}

@media screen and (min-width: 1000px) {
  body{
    padding-left:5%;
  }
  
}
